pkgbase = tinarchy-git
	pkgdesc = Translucent glassmorphic control center & telemetry dashboard for headless Linux home servers
	pkgver = r108.c7edf80
	pkgrel = 1
	url = https://github.com/T1n777/Tinarchy
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = python-pillow
	depends = python-requests
	optdepends = nginx: unified reverse proxy and multi-service routing
	optdepends = tailscale: mesh networking and Tailscale Whois identity
	optdepends = tmux: persistent remote SSH sessions
	optdepends = syncthing: continuous encrypted drive synchronization
	optdepends = tor: SOCKS5 proxy and global exit node routing
	optdepends = iptables: NAT packet routing for Tor exit node
	optdepends = rclone: cloud drive backups to Google Drive
	optdepends = syncthing: continuous encrypted peer-to-peer folder synchronization
	optdepends = syncyomi-git: Tachiyomi, Mihon and Suwayomi reading progress sync
	provides = tinarchy
	provides = pinedash
	conflicts = tinarchy
	conflicts = pinedash
	backup = etc/tinarchy/app_config.json
	backup = etc/tinarchy/roles_config.json
	backup = etc/tinarchy/services.local.json
	source = tinarchy-git::git+https://github.com/T1n777/Tinarchy.git
	source = tinarchy.service
	source = tinarchy.tmpfiles
	source = tinarchy-launcher.sh
	sha256sums = SKIP
	sha256sums = 2e92029ea46d8010177fa4d2d4ce10b330442a91c602d5a4b6fce6cd3a0a9895
	sha256sums = 5e4ac970832690f4de5eae573ffa5a25a1960cc1adf5be95bcb0ea66ce7916b3
	sha256sums = e40544f28daedf76cabe46396e9ec00b8b97ed7ddd513ce1a16ca9b9dffe3441

pkgname = tinarchy-git
