[Unit]
Description=FileBrowser Quantum Web File Manager
After=network.target

[Service]
Type=simple
User=tin
Group=tin
WorkingDirectory=/home/tin
ExecStartPre=/usr/local/bin/tinarchy-drive-sync
ExecStart=/usr/local/bin/filebrowser -c /etc/filebrowser/config.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
