[Unit]
Description=PESU WiFi Simple Login Manager & Keepalive Daemon
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/pineapple
ExecStart=/usr/bin/pesu-wifi daemon
Restart=always
RestartSec=5
StandardOutput=journal

[Install]
WantedBy=multi-user.target
