[Unit]
Description=Rclone Backup Drive Storage to Google Drive
After=network.target

[Service]
Type=oneshot
User=pineapple
Group=pineapple
ExecStart=/usr/local/bin/backup-drive-to-gdrive

[Install]
WantedBy=multi-user.target
