[Unit]
Description=Rclone Backup /home/tin/drive to Google Drive
After=network.target

[Service]
Type=oneshot
User=tin
Group=tin
ExecStart=/home/tin/scripts/backup-drive-to-gdrive.sh

[Install]
WantedBy=multi-user.target
