[Unit]
Description=Rclone Backup /home/pineapple/drive to Google Drive
After=network.target

[Service]
Type=oneshot
User=pineapple
Group=pineapple
ExecStart=/home/pineapple/scripts/backup-drive-to-gdrive.sh

[Install]
WantedBy=multi-user.target
