[Unit]
Description=Tinarchy Autonomous Activity & Resource Governor
Documentation=https://github.com/aayush1105/Tinarchy
After=network.target suwayomi-server.service thermald.service
Wants=suwayomi-server.service

[Service]
Type=simple
ExecStartPre=+/usr/bin/ln -sfn /home/tin/server-dashboard/configs/scripts/tinarchy-resource-governor.py /usr/local/bin/tinarchy-resource-governor
ExecStart=/usr/bin/python3 /usr/local/bin/tinarchy-resource-governor
Restart=always
RestartSec=5
KillMode=mixed
TimeoutStopSec=10

User=root
Group=root
Nice=-5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
